.navStyle {
    background: linear-gradient(to right, #4b6cb7, #182848); /* Dégradé de bleu */
    padding: 20px 30px; /* Ajustement du padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Ombre plus prononcée */
    border-radius: 10px; /* Bordures plus arrondies */
}

.linkStyle {
    color: #ffffff; /* Couleur blanche pour un contraste élevé */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px; /* Taille de police ajustée */
    font-weight: 400; /* Poids de la police moins lourd */
    transition: color 0.3s, transform 0.2s;
}

.linkStyle:hover {
    color: #a8b2d1; /* Couleur plus douce au survol */
    transform: translateY(-2px); /* Effet de lévitation */
}

.specialLinkStyle {
    color: #ffffff; /* Couleur blanche pour un contraste élevé */
    font-size: 18px; /* Taille de police légèrement augmentée */
    padding: 10px 20px; /* Padding horizontal augmenté */
    border-radius: 20px; /* Bordures plus arrondies */
    border: 2px solid #ffffff; /* Bordure blanche */
    background-color: transparent; /* Fond transparent */
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.specialLinkStyle:hover {
    transform: scale(1.1); /* Légère augmentation de taille */
    background-color: #4b6cb7; /* Changement de couleur de fond au survol */
    color: #182848; /* Changement de couleur de texte au survol */
}

.specialLinkStyleMargin {
    margin-right: 20px; /* Marge à droite */
}